@page
@using Microsoft.AspNetCore.Mvc.Localization
@using TestModule.Localization
@using TestModule.Web.Pages.TestModule.TestModuleTables
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using TestModule.TestModuleTables;
@using System.Globalization
@inject IHtmlLocalizer<TestModuleResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/TestModule/TestModuleTables/EditModal" autocomplete="off">
    <abp-modal id="TestModuleTableEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@

            <abp-input asp-for="Id" />

                
                    
                    <abp-input asp-for="TestModuleTable.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="TestModuleTable.Code"    />


            <abp-input asp-for="TestModuleTable.Name"    />


            <abp-input asp-for="TestModuleTable.Notes"    />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
