<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>TestModule</title>
    <base href="/" />

    <!--ABP:Styles-->
    <link href="global.css?_v=638473223834884148" rel="stylesheet"/>
    <link href="_content/Volo.Abp.AspNetCore.Components.Web.LeptonTheme/styles/lepton1.css" rel="stylesheet" id=LeptonStyle />
    <!--/ABP:Styles-->

    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body class="abp-application-layout">

    <script src="_framework/blazor.web.js"></script>

    <div id="ApplicationContainer">
        
        <div>
            Loading...
        </div>
        
        <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)"/>
    </div>

    <!--ABP:Scripts-->
    <script src="global.js?_v=638473223835468867"></script>
    <!--/ABP:Scripts-->
    
</body>
</html>